# Flutter / Dart
.dart_tool/
.packages
.pub/
build/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store

# Android
android/local.properties
android/.gradle/
android/app/build/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/

# macOS
macos/Flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# Windows
windows/flutter/ephemeral/